.App {
  text-align: center;
  /* background-color: black; */
}
body{
  /* background-color: black !important; */
  /* color: black !important; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  background-color: #020c2b;
  position: fixed !important;
  width: 100%;
  z-index: 2;
  top:0px;
}
.icons svg {
  color:white !important;
  font-size: 20px !important;
  /* width: 30px !important; 
  height: 30px !important; */
  margin: 10px;
}
 .nav h5,h6,p {
  margin: 0px;
  color: white;
}
.row{
  /* margin: 40px 10px !important; */
  padding: 20px;
  position: absolute;
  left: 20%;
  top: 10%;
  /* background-color: black; */
  color: black;
}
 .row p {
  color: grey !important;
  margin: 2px;
}
.row h5{
  color: black;
}
.pro_text h6 {
  color: black;
}
.row img{
  height: 400px !important;
  width: 400px !important;
  border-radius: 10px;
  margin: 20px;
  object-fit: cover;
}
.pro_text{
  padding: 20px;
}
.col{
  padding: 20px !important;
}
/* category css */
.category{
  width: 20%;
  /* height: 100% !important; */
  position: absolute;
  /* position: fixed; */
  margin-top: 30px;
  top:10%;
  left: 0px;
  z-index: 0;
  /* background-color: #282c34; */
  box-shadow: 0px 0px 10px;
  text-align: left;
  padding: 5px 20px;
}
.category a{
  text-decoration: none;
}
.category li {
  color:black;
  text-decoration: none;
  list-style: none;
  padding: 10px 20px;
}
.category li:hover {
  color:black;
  background-color: white;
}
.search_btn:hover{
  background-color: #020c2b;
  color: white;
}
/* single.js css */
.single p{
  /* color: #282c34 !important; */
  margin: 20px !important;
}
.cart{
  text-transform: capitalize;
  margin: 40px;
  padding: 40px;
  box-shadow: 0px 0px 10px;
  border-radius: 10px;
}
.cart_button {
  display: flex;
  justify-content: center;
}
.cart_button a{
  margin: auto !important;
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #020c2b;

}